.admin {
  height: auto;
  &-button {
    display: block;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  &-title {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);

  }
}