.navbar {
  position: fixed;
  padding: 30px 0px;
  width: 100%;
  background-color: #EAD0BE;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));

  &-logo {
    color: #000000;
    font-size: 24px;
    line-height: 27px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    &:hover {
      color: #D2AE93;
    }
  }

  
  &-cart {
    height: 45px;
    width: 45px;
    margin-right: 20px;
    background-color: transparent;
    background-image: url(../assets/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    
    &-text {
      font-size: 26px;
      line-height: 29px;
    }
  }
}